// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$primary-color: #006FFF !important;
$dark-highlight: #343a40 !important;
$background-color: #212121;
$baseheadline-size: 50px;

body{
    font-family: 'Montserrat' !important;
}

.bg-dark{
    background: $dark-highlight;
}

.container-fluid{
    background: $background-color;
    text-align: center;
    padding-top: 100px;
    min-height: 90vh;
}

h1{
    color: $primary-color;
    font-size: 60px !important;
}

h2{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 40px;
}

.subheadlines{
    padding-top: 40%;
    color: white !important;

    &:hover{
        color: white !important;
    }
}

i{
    color: $primary-color;
    font-size: 60px;
}

.startbutton{
    font-size: 40px !important;
    width: 100%;
}

.startrow{
    align-items: center;
    margin-top: 200px !important;
}

.row{
    align-items: center;
    margin-top: 30px;
}

.nav{
    background: $dark-highlight;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
        color: rgb(255, 255, 255);
    }

    li {
        margin-left: 2%;
        text-align: center;
    }
}

.form-control{
    color:white !important;
}

.card{
    border: none !important;
}

.card-header{
    background: $background-color !important;
    color: $primary-color;
    font-size: $baseheadline-size !important;
    border: none;
}

.card-body{
    color: white !important;
    background: $background-color !important;
}

.form-control{
    background: $dark-highlight;
    border: none;
}

.btn-primary{
    font-size: 20px;
    background: $primary-color;
}

footer{
    margin-bottom: 0px !important;
    position: relative !important;
}

.startheadline{
    margin: 0 auto;
}

.bild-quader{
    height: 400px;
    width: 400px;
    background: #006FFF;
    margin: 0 auto;
}